 .card {
            transition: margin 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow */
        }

        .card:hover {
            border-color: #007bff; /* Change to the desired color */
            margin-bottom: 40px; /* Adjust the margin as needed */
            
            
            margin-left: 40px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 10); /* Change shadow on hover */
}
.bgimage_1{
    background-image: url('./images/still-life-851328_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}